@import 'compass/css3/transform';

// Variables
$blockWidth: 24px;
$blockHeight: 24px;
$wellBlockWidth: 10;
$wellBlockHeight: 20;
$wellWidth: $wellBlockWidth * $blockWidth;
$wellHeight: $wellBlockHeight * $blockHeight;

// Tag styles
body {
    width: 600px;
    margin: 10px auto;
}

// Wrapper styles
.hatetris-wrapper {
    text-align: center;
    vertical-align: top;
}

.hatetris-sidebar,
.hatetris-table-wrapper {
    float: left;
}

.hatetris-table-wrapper {
    height: $wellHeight;
}

.hatetris-sidebar {
    height: $wellHeight;
}

.hatetris-hidden {
    position: fixed;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;

}

// Table styles
.hatetris-table {
    border-collapse: collapse;
    border: 0;
}

.hatetris-table tr,
.hatetris-table td,
.hatetris-table th, {
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: left;
}

.hatetris-cell {
    width: $wellWidth / $wellBlockWidth;
    height: $wellHeight / $wellBlockHeight;
    background-color: black;
}

.hatetris-piece-S {
    background-image: url(images/s.png);
}

.hatetris-piece-Z {
    background-image: url(images/z.png);
}

.hatetris-piece-I {
    background-image: url(images/i.png);
}

.hatetris-piece-L {
    background-image: url(images/l.png);
}

.hatetris-piece-J {
    background-image: url(images/j.png);
}

.hatetris-piece-O {
    background-image: url(images/o.png);
}

.hatetris-piece-T {
    background-image: url(images/t.png);
}
